.list {
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    height: 75px;
    align-items: center;
    cursor: default;
    border-top: 1px solid #ededed;

    .profilepic {
        height: 50px;
        width: 50px;
        border-radius: 50%;

        img {
            cursor: pointer;
        }
    }

    .username {
        margin-left: 10px;
        width: 70%;
    }

    cursor: pointer;
}

.listoptions {
    position: absolute;
    height: 200px;
    width: 130px;
    background: white;
    right: 20px;
    top: 5vh;
    margin-top: 15px;
    border: 1px solid #b1afa7;
    padding-left: 20px;
    padding-top: 20px;
    border-radius: 5px;
    color: #555555;
    font-size: 0.9em;

    .items {
        margin-bottom: 10px;
    }
}

.lastmsgTime {
    font-size: 0.65em;
    color: #636363;
    width: 90px;
    height: 15px;
    text-align: center;
}

.messagecount {
    text-align: center;
    color: white;
    font-size: 0.7em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .container {
        border-radius: 50%;
        height: 20px;
        padding-left: 5px;
        padding-right: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.lastmessage {
    font-size: 0.9em;
    color: #636363;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.friends {
    overflow-y: auto;
    height: 550px;

    ::-webkit-scrollbar {
        width: 5px;
    }

    ::-webkit-scrollbar-thumb {
        background: #b1afa7;
    }

}

.friend {
    &:hover {
        background-color: #f5f5f5;
    }
}